In [13]:
import pandas as pd
import os

In [14]:
gen_path = os.path.join('..', 'data', 'Plant_1_Generation_Data.csv')
gen = pd.read_csv(data_path)
weather_path = os.path.join('..', 'data', 'Plant_1_Weather_Sensor_Data.csv ')
weather = pd.read_csv(weather_path)
display(gen.head())
display(weather.head())

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0

In [15]:
gen['DATE_TIME'] = pd.to_datetime(gen['DATE_TIME'])
weather['DATE_TIME'] = pd.to_datetime(weather['DATE_TIME'])
df = pd.merge_asof(
    gen.sort_values('DATE_TIME'), 
    weather.sort_values('DATE_TIME'), on = 'DATE_TIME', 
    by='PLANT_ID',  
    direction='nearest', 
    tolerance=pd.Timedelta('10min')
    )

display(df.head())

C:\Users\Νάσος\AppData\Local\Temp\ipykernel_22920\2125245776.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  gen['DATE_TIME'] = pd.to_datetime(gen['DATE_TIME'])

,DATE_TIME,PLANT_ID,SOURCE_KEY_x,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,SOURCE_KEY_y,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15,4135001,zVJPv84UY57bAof,0.0,0.0,0.0,7116151.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2,2020-05-15,4135001,zBIq5rxdHJRwDNY,0.0,0.0,0.0,6339380.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
3,2020-05-15,4135001,z9Y9gH1T5YWrNuG,0.0,0.0,0.0,7007866.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
4,2020-05-15,4135001,wCURE6d3bPkepu2,0.0,0.0,0.0,6782598.0,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0

In [ ]:
print(f"Unique Plant IDs: {df['PLANT_ID'].nunique()}")
print(f"Unique Weather Sensors (SOURCE_KEY_y): {df['SOURCE_KEY_y'].nunique()}")

Μοναδικά Plant IDs: 1
Μοναδικοί Αισθητήρες Καιρού (SOURCE_KEY_y): 1

In [19]:
drop_cols = ['PLANT_ID', 'SOURCE_KEY_y']
df = df.drop(columns = drop_cols, errors='ignore')
print(df.head())
print(f"-------- CHECK FOR MISSING VALUES --------")
print(df.isnull().sum())

   DATE_TIME     SOURCE_KEY_x  DC_POWER  AC_POWER  DAILY_YIELD  TOTAL_YIELD  \
0 2020-05-15  1BY6WEcLGh8j5v7       0.0       0.0          0.0    6259559.0
1 2020-05-15  zVJPv84UY57bAof       0.0       0.0          0.0    7116151.0
2 2020-05-15  zBIq5rxdHJRwDNY       0.0       0.0          0.0    6339380.0
3 2020-05-15  z9Y9gH1T5YWrNuG       0.0       0.0          0.0    7007866.0
4 2020-05-15  wCURE6d3bPkepu2       0.0       0.0          0.0    6782598.0

   AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
0            25.184316           22.857507          0.0
1            25.184316           22.857507          0.0
2            25.184316           22.857507          0.0
3            25.184316           22.857507          0.0
4            25.184316           22.857507          0.0
-------- CHECK FOR MISSING VALUES --------
DATE_TIME              0
SOURCE_KEY_x           0
DC_POWER               0
AC_POWER               0
DAILY_YIELD            0
TOTAL_YIELD            0
AMBIENT_TEMPERATURE    4
MODULE_TEMPERATURE     4
IRRADIATION            4
dtype: int64

In [21]:
df =df.dropna()
print(df.isnull().sum())

DATE_TIME              0
SOURCE_KEY_x           0
DC_POWER               0
AC_POWER               0
DAILY_YIELD            0
TOTAL_YIELD            0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64

In [23]:
from sklearn.preprocessing import StandardScaler

features = ['AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION']
X = df[features]
y = df['DC_POWER']
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=features)

print(f"Data after standardization")
print(X_scaled_df.head())

Data after standardization
   AMBIENT_TEMPERATURE  MODULE_TEMPERATURE  IRRADIATION
0            -0.111328           -0.681456    -0.769361
1            -0.111328           -0.681456    -0.769361
2            -0.111328           -0.681456    -0.769361
3            -0.111328           -0.681456    -0.769361
4            -0.111328           -0.681456    -0.769361